/* font-family: "Tangerine", cursive;
font-family: "Architects Daughter", cursive;
font-family: "Creepster", system-ui;
font-family: "Handlee", cursive;
    color: rgb(229, 140, 77);

font-family: "Comic Neue", cursive; */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    color: white;
}
html{
    scroll-behavior: smooth;
}

.homeimg{
    background: url(./img/home-bg.jpg) no-repeat;
    height: auto;
    width: 100%;
}
.left
img{

    border-radius: 50%;
    transition: .5s ease-in-out;

}
img:hover{
    transform: rotate(20deg);
}

.left{
    width: 130px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.3%;
    width: 100%;
    position: fixed;
    z-index: 10;
    backdrop-filter: blur(10px);
}

.right a{
    text-decoration: none;
    color: white;
    font-family: "Handlee", cursive;
    margin-right: 2rem;
    font-size: 1.1rem;
    transition: color ease .3s;

}
.right a:hover{
    color: rgb(229, 140, 77);
}
nav .right img{
    display: none;
}
label{
    color: white;
    display: none;
    font-size: 1.5rem;
}
label:active{
    color: rgb(229, 140, 77);
}
#check{
    display: none;
}
#bar{
    display: none;
}
#close{
    display: none;
}
/* @media (max-width:350px){
    nav .right{
        width: 100%;
        padding: 0%;
    }

} */

@media (max-width:820px){
    
    nav .right{
        display:block;
        position: absolute;
        top: 110px;
        height: 0;
        /* left: 0%; */
        /* right: -100%; */
        right: -100%;
        overflow: hidden;
        width: 80%;
        height: auto;
        padding: 5% 0 5%;
        background-color: rgba(0, 0, 0, 0.834);
        box-shadow: 2px 6px 100px rgb(229, 140, 77);
        transition:  0.4s ease
        
    }
    nav .right a{
        display: block;
        line-height: 70px;
        text-align: center;
        margin-bottom: 2%;
    }
    nav .right a:active{
        background-color: transparent;
    }
    nav .right img{
        display:block;
        width: 30%;
        position: absolute;
        top: 30px;
        right: -100%;
        transition:  transform 1s ease-in;
        /* color:   rgb(229, 140, 77); */

    }
    nav .right #img{
        position: relative;
        top: -10px;
        left: 20px;
        display:block ;
    }
    .homeimg{
        height: 1000px;
    }
    nav{
        justify-content: space-between;
        padding-top: 2%;
        backdrop-filter: blur(10px) opacity(10%)  ;
        background: rgba(0, 0, 0, 0.349);

        
    }
    nav .left{
        margin-left: 5%;
    }
    nav .left img{
        height: 90px;
    }
    #bar{
        display: block;
    }
    label{
        display: block;
        margin-right: 5%;
    }
    #check:checked~ #icon #bar{
        display: none;
    }
    #check:checked~ #icon #close{
        color: rgb(229, 140, 77);
        display: block;
        font-size: 1.8rem;
    }
    #check:checked~ .right{
        right: 0%;
        display: block;
        height: auto;

    }
    #check:checked~ .right img{
        right: 0%;
        transform: scale(1.5) rotate(-15deg);

    }
    #check:checked~ .right #img{
        right: 0%;
        transform: scale(1.3) rotate(15deg);

    }
   

}

/* main section */
.main{
    padding-top: 1%;
    display: flex;justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    /* background-color: antiquewhite; */
}
.main .m2 img{
    transform: none;
    
}

h1{
    font-family: "Tangerine", cursive;
    font-size: 6rcap;
    text-transform: capitalize;
}
.main .m2

{
    margin-top: 3%;
    transform: rotate(15deg);
}
.m1  img{
    float: right;
    transition: transform .4s ease;

}
.main .m1{
    margin-top: 10%;
}
button{
    height: 50px;
    width: 140px;
    background-color: rgb(229, 140, 77);
    cursor: pointer;
    color: black;
    /* font-family: "Architects Daughter", cursive;    */
    font-family: "Handlee", cursive; 
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    border: none;
    
}

button:hover{
    color: rgb(229, 140, 77);
    /* z-index: 1; */
}
button:after{
    content: "";
    height: 50px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0.991);
    position:  absolute;
    bottom: 0px;
    /* overflow: hidden; */
    left: -100%;
    display: block;
    z-index: -1;
    transition:  .4s ease;
    border: none;
    color:white;
    text-align: center;
  

    


}
/* ::content{
    padding-top: 10%;
} */
button:hover::after{
    overflow: hidden;
    left: 0;
    color:rgb(229, 140, 77);

}
/* home foot icons */
.foot{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
    /* background-color: aqua; */
}
.lef{
    width: 50%;
}
.lef p i{
    margin-right: 5px;
    color: rgb(229, 140, 77);
}
.lef p{
    font-family: "Architects Daughter", cursive;

}
.rig{
    display: flex;

}
.rig p{
    margin-left: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
.rig #fb:hover i{
    color:rgb(142, 212, 255)

}
.rig #ins:hover i{
    color:rgb(243, 158, 158)

}
.rig #twit:hover i{
    color:rgb(25, 160, 245)

}

@media screen and (max-width:800px) {
    .main{
        /* margin-top: 20%; */
        overflow: hidden;
    }
    .main .m1{
        margin-top: 30%;
    }
    .main .m1 h1{
        font-size: 4.5rcap;
    }
   
    .main .m2 img{
        height: 420px;
        margin-top: 15%;
        margin-left: 20px;
    }
    .bgimg{
        height: auto;
        background-position: center;
    }
    .m1  img{
        transform: rotate(180deg);
    }
    .lef p{
        font-size: 1rcap;
    }
    .foot{
        margin-top: -10%;
    }
   
    


    
}
/* sectin 2 */
.news
{
    height: auto;
    background-color: #212529;
    
}
#news{
    padding-top:5%;
}
.head{
    text-align: center;
}
.head h1{
    font-size: 4rcap;
    padding-top: 3%;
}
h2{
    font-family: "Architects Daughter", cursive;
    color:rgb(229, 140, 77)

}
.b1{
    text-align: center;
    width: 20%;
}
.b1 p{
    padding:  4% 0;
    font-family: "Handlee", cursive;
 
    margin: auto;

}
.bflex{
    display: flex;
    margin-top: 4%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.b1 img{
    margin: 3% 0;
    transition: .4s ease;
}
#b1{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    /* background-color: aliceblue; */
    width: 23%;
}
#b1 img{
    transform: rotate(-10deg);
    
}
#b1 .text{
    margin: 3%;
}
#b1 .text p{
    width: auto;
}
.b1:hover h2{
    color:rgba(229, 140, 77, 0.698);
}
.btn
{
    text-align: center;
}
#button{
    height: 50px;
    width: 160px;
    background-color: rgb(229, 140, 77);
    cursor: pointer;
    color: black;
    /* font-family: "Architects Daughter", cursive;    */
    font-family: "Handlee", cursive; 
    font-size: 1rem;
    overflow: hidden;
    border: none;
}
#button:hover{
    background-color: rgba(229, 140, 77, 0.626);
}

@media screen and (max-width:790px) {

    .b1{
        width: 100%;
        margin: 10% 0;
    }
    .b1 p{
        width: 45%;
    }
    .news
    {
        height: auto;
        /* padding-top: 20%; */
    }
    #b1{
        flex-direction: column;
        width: 60%;

    }
    .b1 img{
        height: 200px;
    }
    #news{
        padding-top: 30%;

    }




    
}
/* about */
.about{
    height: auto;
    background-color: #2f3234;
}
.aboutus{
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.d2 img{
    transition: .3s ease;
    
}
.d2 img:hover{
    transform: rotate(0deg) scale(1.04);

}
.d1 h1{
    font-size: 4rcap;
    font-weight: 900;

}
.d1{
    width: 35%;
    /* transition: .3s ease; */
}
.d1 img{
    transition: .3s ease;

    float: right;
}
.d1 p{
    font-family: "Comic Neue", cursive;
    font-weight: 300;

}
@media screen and (max-width:800px) {
    .d2{
        /* width: 100%; */
        margin: 10% 0;
    }
    .d2 img{
        height: 305px;
    }
    .d1{
        width: 80%;
        margin:  10% 0;
    }
    .d1 h1{
        font-size: 3.5rcap;
    }
    .d1 p{
        font-size: 1.2rcap;
    }

    
}

/* favourite */
.fav{
    height: auto;
    background-color: #000000e7;

}
.card1{
    height: 320px;
    width: 300px;
    transition: .4s ease-in;
}
.card1:hover{
    border: 1px solid orange;
    
}
.card1 img{
    margin: -15% 10% 0;
    transform: rotate(0deg) ;
    transition:  transform .3s ease;
    
}
.card1:hover img{
    transform: scale(1.1);
}

.card1 p{
    font-family: "Architects Daughter", cursive;
}
.name{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.plus p{
    cursor: pointer;
    width: 35px;
    text-align: center;
    background-color: rgb(229, 140, 77);
}
.plus p:hover i{
    color: black;

}
.cardflex{
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.but{
    
    /* overflow: hidden; */
    /* text-align: center; */
    margin: auto;
    display: flex;
    justify-content: center;
}
.but h1{
    visibility: hidden;
}
#fav{
    padding-top: 6%;
}
@media screen and (max-width:800px) {
    .card1{
        margin-top: 40%;
    }
    #fav{
        padding-top: 30%;
    }
    
}
